@font-face {
    font-family: "Cavilary";
    src: url('../fonts/CavilayScript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Baline Script";
    src: url('../fonts/baline\ script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Ballegria";
    src: url('../fonts/Ballegria.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Space Age";
    src: url('../fonts/space\ age.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}