@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;600&display=swap");
@font-face {
  font-family: "Cavilary";
  src: url("../fonts/CavilayScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baline Script";
  src: url("../fonts/baline script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ballegria";
  src: url("../fonts/Ballegria.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Age";
  src: url("../fonts/space age.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  list-style: none;
  scroll-behavior: smooth;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Space Age';
  font-size: 25px;
  font-weight: lighter;
}

header a {
  text-shadow: 3px -2px 2px rgba(0, 0, 0, 0.959);
  color: aliceblue;
  padding: 10px;
  -webkit-animation: box-neon 1s ease-in-out infinite alternate;
          animation: box-neon 1s ease-in-out infinite alternate;
  border-radius: 15px;
  background-color: #228dff6e;
}

header a:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.548);
}

body {
  font-family: 'Spartan', sans-serif;
  text-align: center;
  font-size: 15px;
  background: #22c1c3;
  background: radial-gradient(circle, #22c1c3 0%, #639669 53%, rgba(153, 129, 32, 0.860382) 99%);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 170px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}

li {
  display: inline-block;
}

li:hover {
  -webkit-box-shadow: 1px -1px 5px #3f3f3f;
          box-shadow: 1px -1px 5px #3f3f3f;
  -webkit-transform: translate(0%, -7%);
          transform: translate(0%, -7%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 100%;
  background-color: aliceblue;
}

img {
  margin: 7px;
  animation: animar-icon  0.5s ease infinite alternate-reverse;
  border-radius: 50%;
}

img:hover {
  -webkit-animation: none;
          animation: none;
}

footer {
  padding: 15px;
  text-align: center;
  bottom: 0;
}

.flex-item-1 {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

@-webkit-keyframes box-neon {
  from {
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
  }
  to {
    -webkit-box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
            box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
  }
}

@keyframes box-neon {
  from {
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
  }
  to {
    -webkit-box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
            box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
  }
}

@-webkit-keyframes animar-icon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}

@keyframes animar-icon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
/*# sourceMappingURL=equipe.css.map */