@font-face {
  font-family: "Cavilary";
  src: url("../fonts/CavilayScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baline Script";
  src: url("../fonts/baline script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ballegria";
  src: url("../fonts/Ballegria.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Age";
  src: url("../fonts/space age.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  bottom: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
}

.bg_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  background: url("../midias/gifs-natureza-bela-4.gif") no-repeat;
  background-size: cover;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Space Age';
  font-size: 25px;
  font-weight: lighter;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  padding: 15px;
}

header nav a {
  text-shadow: 3px -2px 3px rgba(0, 0, 0, 0.959);
  color: aliceblue;
  -webkit-transform: scaleY(1.4);
          transform: scaleY(1.4);
  padding: 7px;
}

header nav a:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.363);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 10px;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 95vw;
}

main section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  border-radius: 7px;
  margin: 10px;
  padding: 5px;
  width: 185px;
  height: 180px;
  background-image: url("../midias/caderno.png");
  background-position: center;
  background-size: cover;
  opacity: 0.89;
  font-family: "Baline Script";
  font-size: 20px;
  letter-spacing: 0.7px;
}

main section article:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

main section article .tachado {
  text-decoration: line-through;
}

.section__box-paragrafo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 20px;
  margin-left: 7px;
  width: 160px;
  height: 95px;
  color: #000;
}

.section__box-datas {
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 20px;
}

.id-card-api {
  font-size: 12px;
  background-color: rgba(20, 19, 18, 0.137);
  border-radius: 20px;
  padding: 5px;
  color: #000;
}

.tema {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60px;
  height: 35px;
  background-color: #55340e;
  border-radius: 50rem;
  margin-left: 20px;
}

.circulo {
  width: 25px;
  height: 25px;
  background-color: #dfbd25;
  border-radius: 50%;
  margin-left: 10%;
}

.circulo-2 {
  position: absolute;
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
  width: 28px;
  height: 22px;
  background-color: #e4d7cc;
  border-radius: 50%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 1;
}

footer {
  padding: 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.856);
  font-size: 17px;
  bottom: 0;
}

@-webkit-keyframes deslizar-1 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes deslizar-1 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes deslizar-2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes deslizar-2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes card-neon {
  from {
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
  }
  to {
    -webkit-box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
            box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
  }
}

@keyframes card-neon {
  from {
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
  }
  to {
    -webkit-box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
            box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
  }
}

@media (max-width: 428px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 100vw;
  }
  .circulo-2 {
    top: 4.3rem;
  }
}

@media (min-width: 429px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "nav" "tema";
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-area: "nav";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
  }
  header nav a {
    margin: 20px;
  }
  .tema {
    margin-left: 2.5vw;
    grid-area: "tema";
  }
  .circulo-2 {
    top: 2.3rem;
  }
}
/*# sourceMappingURL=styleApi.css.map */