@import "./fonts";
*{
    margin: 0;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-decoration-style: none;
}

.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background: url('../midias/gifs-natureza-bela-4.gif') no-repeat;
	background-size: cover; 
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Age';
    font-size: 25px;
    font-weight: lighter;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 60vw;
        padding: 15px;
        a {
            text-shadow: 3px -2px 3px rgba(0, 0, 0, 0.959);
            color: aliceblue;
            transform: scaleY(1.4);
            padding: 7px;
            
            &:hover {
                border-radius: 10px;
                background-color: rgba(0, 0, 0, 0.363);
            }

        } 
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 10px;

    section {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        width: 95vw;
        // border: 1px solid black;
        
        article {
            // border: 1px dotted black;
            display: flex;
            justify-content: space-around;
            // align-items: center;
            flex-flow: column wrap;        
            border-radius: 7px;
            margin: 10px;
            padding: 5px;
            width: 185px;
            height: 180px;
            background-image: url('../midias/caderno.png');
            background-position: center;
            background-size: cover;
            opacity: 0.89;
            font-family: "Baline Script";
            font-size: 20px;
            letter-spacing: 0.7px;
            
            &:hover {
                transform: scale(1.03);
                transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
            }

            .tachado {
                text-decoration: line-through;
            }
        }
    }
}


.section__box-paragrafo {
    align-self: center;
    margin-top: 20px;
    margin-left: 7px;
    width: 160px;
    height: 95px;
    color: #000;
}

.section__box-datas {
    align-self: end;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    height: 20px;
}

.id-card-api {    
    font-size: 12px;
    background-color: rgba(20, 19, 18, 0.137);
    border-radius: 20px;
    padding: 5px;
    color: #000;
}


.tema {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 60px;
    height: 35px;
    background-color: rgb(85, 52, 14);
    border-radius: 50rem;
    margin-left: 20px;
}

.circulo {
    width: 25px;
    height: 25px;
    background-color: rgb(223, 189, 37);
    border-radius: 50%;
    margin-left: 10%;
  }
  
.circulo-2 {
    position: absolute;
    // top: 2.3em;
    transform: translateX(70%);
    width: 28px;
    height: 22px;
    background-color: rgb(228, 215, 204);
    border-radius: 50%;
    align-self: start;
    transition-duration: 0.3s;
    z-index: 1;
  }

  footer {
      padding: 15px;
      text-align: center;
      color: rgba(255, 255, 255, 0.856);
      font-size: 17px;
      bottom: 0;
  }

 //animations

@keyframes deslizar-1 {
    0%  {transform: translateX(0%); }
    100%   { transform: translateX(100%); }
  }
  @keyframes deslizar-2 {
    0%  {transform: translateX(100%); }
    100%   { transform: translateX(0%); }
} 

  @keyframes card-neon {
    from {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
    }
    to {
      box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
    }
  }

//media query

@media (max-width: 428px) {
    header {
        flex-direction: column;

        nav {
            align-self: center;
            width: 100vw;
        }
    }

    .circulo-2 {
        top: 4.3rem;
    }
}

@media (min-width: 429px) {
    header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "nav" "tema";

        nav {
            display: flex;
            justify-content: center;
            grid-area: "nav";
            align-items: center;
            max-width: 350px;
            padding: 15px;
            margin: 0 auto;
            a {
                margin: 20px;
            }
        }
    }

    .tema {
        margin-left: 2.5vw;
        grid-area: "tema";
        // align-self:stretch;
    }

    .circulo-2 {
        top: 2.3rem;
    }
    
}