@font-face {
  font-family: "Cavilary";
  src: url("../fonts/CavilayScript.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baline Script";
  src: url("../fonts/baline script.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ballegria";
  src: url("../fonts/Ballegria.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Space Age";
  src: url("../fonts/space age.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg_video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  background: url("../midias/astronauta.jpg") no-repeat;
  background-size: cover;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Space Age';
  font-size: 25px;
  font-weight: lighter;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70vw;
  padding: 15px;
}

header nav a {
  text-shadow: 3px -2px 2px rgba(0, 0, 0, 0.959);
  color: aliceblue;
  -webkit-transform: scaleY(1.4);
          transform: scaleY(1.4);
  padding: 7px;
}

header nav a:hover {
  -webkit-animation: box-neon 1s ease-in-out infinite alternate;
          animation: box-neon 1s ease-in-out infinite alternate;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.548);
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 10px;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 95vw;
  min-height: 75vh;
  background-color: rgba(85, 52, 14, 0.212);
}

main section article {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 1.5fr 0.5fr;
      grid-template-rows: 0.5fr 1.5fr 0.5fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-area: "icons" "descricao" "datas";
  border-radius: 7px 17px 7px;
  margin: 10px;
  padding: 5px;
  width: 195px;
  height: 180px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  font-family: "Baline Script";
  font-size: 19px;
  letter-spacing: 0.8px;
  background-color: rgba(49, 40, 29, 0.733);
}

main section article p {
  color: #d8c9b8;
}

main section article:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

main section article .tachado {
  text-decoration: line-through;
}

main section article input {
  width: 32px;
  height: 32px;
  padding: 5px;
  cursor: pointer;
}

main section article input:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.artigo-checked {
  -webkit-filter: grayscale(0.75);
          filter: grayscale(0.75);
  opacity: 0.8;
}

.escolhas-none {
  display: none;
}

.escolhas-flex {
  position: relative;
  width: 180px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.escolhas-flex button {
  padding: 10px;
  margin: 2px;
  border: 1px solid white;
  border-radius: 100%;
  opacity: 0.7;
}

.escolhas-flex button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border: 1px solid black;
}

.section__box-icons {
  grid-area: "icons";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 180px;
}

.section__box-paragrafo {
  grid-area: "descricao";
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 180px;
  height: 45px;
}

.section__box-paragrafo p {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.section__box-datas {
  grid-area: "datas";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.section__box-datas p {
  font-size: 12px;
}

details {
  text-align: center;
  margin-bottom: 25px;
  -webkit-animation: texto-neon .6s ease-in-out infinite alternate;
          animation: texto-neon .6s ease-in-out infinite alternate;
}

details summary {
  padding: 10px;
  font-size: 22px;
  list-style: none;
  font-family: 'Space Age';
  font-size: 25px;
  -webkit-transform: scaleY(1.7);
          transform: scaleY(1.7);
  color: rgba(34, 31, 31, 0.884);
}

details summary:hover {
  cursor: pointer;
  background-color: rgba(233, 231, 231, 0.212);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 10px;
}

form input {
  margin: 20px 0 10px 0;
  padding: 17px;
  width: 280px;
  border-radius: 5px;
  border: none;
  background-color: rgba(65, 44, 18, 0.247);
  font-size: 15px;
}

form input:focus {
  outline: none;
  color: #241604;
  background-color: rgba(247, 244, 240, 0.712);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

form input:hover::-webkit-input-placeholder {
  color: rgba(109, 83, 48, 0.774);
}

form input:hover:-ms-input-placeholder {
  color: rgba(109, 83, 48, 0.774);
}

form input:hover::-ms-input-placeholder {
  color: rgba(109, 83, 48, 0.774);
}

form input:hover::placeholder {
  color: rgba(109, 83, 48, 0.774);
}

form input::-webkit-input-placeholder {
  color: #c5b59e;
}

form input:-ms-input-placeholder {
  color: #c5b59e;
}

form input::-ms-input-placeholder {
  color: #c5b59e;
}

form input::placeholder {
  color: #c5b59e;
}

form button {
  height: 50px;
  border-radius: 10px;
  margin: 7px;
  font-weight: bold;
  background-color: rgba(75, 104, 148, 0.774);
  border: none;
  -webkit-animation: box-neon .7s ease-in-out infinite alternate;
          animation: box-neon .7s ease-in-out infinite alternate;
  font-size: 17px;
  color: rgba(247, 245, 243, 0.637);
}

form button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.tema {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60px;
  height: 35px;
  background-color: #55340e;
  border-radius: 50rem;
  margin-left: 20px;
}

.circulo {
  width: 25px;
  height: 25px;
  background-color: #dfbd25;
  border-radius: 50%;
  margin-left: 10%;
}

.circulo-2 {
  position: absolute;
  top: 0.7em;
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
  width: 28px;
  height: 22px;
  background-color: #e4dcd5;
  border-radius: 50%;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  z-index: 1;
}

footer {
  padding: 15px;
  text-align: center;
  bottom: 0;
  color: rgba(255, 255, 255, 0.856);
  font-size: 17px;
}

@-webkit-keyframes deslizar-1 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes deslizar-1 {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@-webkit-keyframes deslizar-2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes deslizar-2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes box-neon {
  from {
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
  }
  to {
    -webkit-box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
            box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
  }
}

@keyframes box-neon {
  from {
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
            box-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
  }
  to {
    -webkit-box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
            box-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
  }
}

@-webkit-keyframes texto-neon {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
  }
  to {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
  }
}

@keyframes texto-neon {
  from {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.459), 0 0 15px rgba(255, 255, 255, 0.459), 0 0 25px rgba(255, 255, 255, 0.459), 0 0 35px #228dff6e, 0 0 65px #228dff6e, 0 0 75px #228dff6e, 0 0 85px #228dff6e, 0 0 95px #228dff6e;
  }
  to {
    text-shadow: 0 0 0px rgba(255, 255, 255, 0.459), 0 0 5px rgba(255, 255, 255, 0.459), 0 0 10px rgba(255, 255, 255, 0.459), 0 0 13px #228dff6e, 0 0 27px #228dff6e, 0 0 35px #228dff6e, 0 0 45px #228dff6e, 0 0 60px #228dff6e;
  }
}

@media (min-width: 429px) {
  header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "nav" "tema";
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-area: "nav";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 350px;
    padding: 15px;
    margin: 0 auto;
  }
  header nav a {
    margin: 20px;
  }
  .tema {
    margin-left: 2.5vw;
    grid-area: "tema";
  }
  .circulo-2 {
    top: 2.4rem;
  }
}
/*# sourceMappingURL=style.css.map */